* {
    border-radius: 0;
}

body {
    background-image: url('bg_image.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.task-box {
  clear: both;
}

.text-center {
    background-color: rgba(0, 0, 0, 0.0);
    margin: 5px;    
}

.button-per-task {
  margin: 15px;
  margin-top: 1em;
  float: left;
}

.container-fluid {
    background: rgba(255, 255, 255, 0.0);
}

.body-content {
    margin-top: 6em;
}

.welcome-sign {
    color: #fff;
    font-weight: bolder;
    margin: 20px;
}

.index-titles {
    color: #000;
    text-align: center;
}

.index-titles:hover {
    color: #88da02;
    text-decoration: none;
}

.index-content {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border: 1px solid black;
  padding-bottom: 1.5em;
}

.index-background {
    background-color: rgba(255, 255, 255, 1);
}

.show-titles {
    color: #fff;
    font-size: 3em;
}

.show-content {
    text-align: left;
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid black;
}

.form-adjust {
    margin-top: 8em;
}