* {
    border-radius: 0;
}

body {
    background-image: url('bg_image.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-center {
    background-color: rgba(0, 0, 0, 0.0);
}

.container-fluid {
    background: rgba(255, 255, 255, 0.0);
}

.body-content {
    margin-top: 6em;
}

.welcome-sign {
    color: #000;
    font-weight: bolder;
    margin: 30px;
}

.index-titles {
    color: #000;
}

.index-titles:hover {
    color: #fff;
    text-decoration: none;
}

.index-content {
    color: #000;
}

.index-background {
    background-color: rgba(255, 255, 255, 0.5);
}

.show-titles {
    color: #000;
    font-size: 3em;
}

.show-content {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
}

.form-adjust {
    margin-top: 8em;
}