<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>
    <link href="main.css" rel="stylesheet">
    <link href="bootstrap.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Task Manager</a>
      </div>
        <ul class="nav navbar-nav">
          <li><a href="/tasks/new">New Task</a></li>
          <li><a href="/tasks">Task List</a></li>
        </ul>
      </div>
    </nav>
      

<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type='text' name='task[title]'/><br />
  <textarea name='task[description]'></textarea><br />
  <input type="submit"/>
</form>

<!-- <form action="/tasks" method="post">
  <div class="form-group">
    <label for="task_name">Give your task a name:</label>
    <input type="text" name='task[tite]' />
    <label for="task_area">Enter a new task:</label>
  
    <textarea name='task[description]' /></textarea
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->

  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

</body>
</html>